altair
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
autopep8
backcall
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
click
colorama
commonmark
cryptography
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distro
duplicity
entrypoints
executing
fasteners
fastjsonschema
fonttools
future
gitdb
GitPython
httplib2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jeepney
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keyring
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
monotonic
more-itertools
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
numpy
oauthlib
olefile
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycairo
pycodestyle
pycparser
pycups
pydeck
Pygments
PyGObject
PyJWT
pymacaroons
Pympler
PyNaCl
pyparsing
pyRFC3339
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim==0.1.0.post0
pyxdg
PyYAML
pyzmq
reportlab
requests
rich
scikit-learn
scipy
seaborn
SecretStorage
semver
Send2Trash
six
sklearn
smmap
soupsieve==2.3.2.post1
stack-data
streamlit
streamlit-option-menu
systemd-python
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
ufw
unattended-upgrades
urllib3
usb-creator
validators
wadllib
watchdog
wcwidth
webencodings
widgetsnbextension
xdg
xkit
zipp
